/* Demo Site Related */
*, :before, :after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: 0;
}

.pad { padding: 5px; }
.vpad { padding: 5px 0 5px 0; }
.hpad { padding: 0 5px 0 5px; }
.box { float: left; }

body {
	padding: 10px;
}

html, body {
	height: 100%;
}

.grid-container {
	width: 100%;
	/*height: 100%;*/
	height: calc(100% - 150px);
}

.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.right {
	float: right;
}

input::-webkit-inner-spin-button { display: none; }
input::-webkit-clear-button { display: none; }

.percent {
	display: inline-block;
	background-color: gray;
	height: 6px;
}

.percent.green {
	background-color: green;
}
.percent.red {
	background-color: red;
}

label [disabled] + span {
	color: gray;
	text-decoration: line-through;
}

/* Grid Related */
.grid-root {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	overflow: hidden;
	border: 1px solid #808080;
	position: relative;
}
.grid {
	float: left;
	overflow: hidden;
}
.grid + .grid {
	border-left: 0;
	border-top: 0;
}
.grid-left > div {
	border-right: 0;
}
.grid-left + .grid-center {
	border-left: 1px solid #808080;
}
.grid-scroll > div {
	border-left: 0;
}
.v-scroll .body, .h-scroll .body {
	position: absolute;
}
.grid-bottom > div {
	border-top: 0;
}
.body, .header {
	display:block;
	background-color: #eee;
	overflow: scroll;
}
.header {
	border-bottom: 1px solid #808080;
}
.canvas {
	display: block;
	position:relative;
}
.viewport {
	display: block;
	position: absolute;
}
.row {
	display: block;
	height: 25px;
	line-height: 25px;
	float: left;
	clear: both;
}
.cell {
	display: block;
	cursor: default;
	float: left;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* header specific */
.header {
	background: linear-gradient(#fff, #d3d3d3);
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}
.header .row {
	border-top: 0;
}
.header .row.group {
	font-weight: bold;
}
.header .cell.group {
	border-bottom: 1px solid silver;
}
.header .cell + .cell {
	border-left: 1px solid #808080;
}

/*pinned column specific */
.pinned.body {
	margin-right: -17px;
	margin-bottom: -17px;
	overflow: scroll;
}
/*.pinned::-webkit-scrollbar { width: 0; height: 0;}*/

/* body specific */
.body .cell + .cell {
	border-left: 1px dotted silver;
}
.body .row + .row {
	border-top: 1px solid silver;
}

/* row specific */
.row.odd {
	background: #f9f9f9;
}

/* cell specific */
.cell input {
	display: block;
	border: 0;
	height: 100%;
	width: 100%;
	padding: 0 2px 0 2px;
}

/* for demostration purpose */
.body .cell:hover, .body .cell input:hover {
	background-color: yellow;
}

.body .cell:focus, .body .cell input:focus {
	background-color: lightyellow;
	border: 1px solid black;
}

.row.blue, .row.blue input {
	background-color: lightskyblue;
}
.row.green, .row.green input {
	background-color: lightgreen;
}
.cell.blue {
	background-color: dodgerblue;
}
.cell.red {
	background-color: orangered;
}
.cell.yellow {
	background-color: lightyellow;
}
