<!doctype html>
<html ng-app="app">
<head>
  <meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
  <title>Virtual Scroll with doTA (1 Miliion Rows)</title>
  <link href="styles.css" rel="stylesheet">
</head>
<body ng-controller="ctrl">

<div style="float:right;text-align:right;padding:5px;">
<div>Inspired from
  <a href="http://mleibman.github.io/SlickGrid/examples/example-optimizing-dataview.html" target="_blank">SlickGrid</a></div>
<div>Back to <a href="../">Examples Index</a></div>
</div>

<h3>Virtual Scroll with
  <a href="https://github.com/S-YOU/doTA" target="_blank">doTA</a> (FlatDOM) - 1 Million Rows
</h3>

<div ng-if="!data">Generating Data...</div>

<label>
<input type="checkbox" ng-model="chkRIC" value=1 ng-disabled="!hasRIC" />
<span> Use requestIdleCallback</span>
</label>

<div dota-render=1 inline=1 event=0 strip=1 encode=1 loose=0 watch-diff="0" diff-level=2>
  <div class="grid" ng-style="height:{{height}}px" onscroll="virtualScroll(this)">
    <div class="canvas" ng-style="height:{{totalHeight}}px">
      <div class="viewport" ng-style="top:{{scrollTop}}px">
        <div class="row {{i%2?'odd':'even'}}" index="{{i+offset}}" ng-repeat="i in 0:rows">
          <div class="cell" ng-init="x=data[i + offset]">
            <input type="text" ng-value="x.id" disabled />
          </div>
          <div class="cell">
            {{x.label}}
          </div>
          <div class="cell">
            <span class="percent" ng-style="width:{{x.percent}}px"
              ng-class="{green:x.percent>50,red:x.percent<30}"></span>
          </div>
          <div class="cell">
            {{x.field1}}
          </div>
          <div class="cell">
            {{x.field2}}
          </div>
          <div class="cell">
            <input type="date" ng-value="x.field3" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--top:{{scrollTop}}px-->
<!--transform:translateY({{scrollTop}}px)-->
<!--transform:translate(0,{{scrollTop}}px)-->

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="../../dist/ngDoTA.min.js"></script>
<script src="scripts.js"></script>

</body>
</html>