*, :before, :after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

.pad {
  padding: 5px;
}

body {
  padding: 10px;
}

.grid {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.body, .header {
  display:block;
  background-color: #eee;
  border: 1px solid gray;
  overflow: auto;
}

.canvas {
  display: block;
  position:relative;
}

.viewport {
  display: block;
  position: absolute;
}

.row {
  display: block;
  height: 25px;
  line-height: 25px;
  float: left;
  clear: both;
}
.row + .row {
  border-top: 1px solid silver;
}
.row.odd {
  background: #f9f9f9;
}

.header {
  overflow: hidden;
}
.header .cell {
  padding: 3px;
  text-align: center;
}

.cell {
  display: block;
  cursor: default;
  float: left;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.body .cell:hover, .body .cell input:hover {
  background-color: yellow;
}
.cell + .cell {
  border-left: 1px dotted silver;
}

.cell input {
  display: block;
  border: 0;
  height: 100%;
  width: 100%;
  padding: 0 2px 0 2px;
}

input::-webkit-inner-spin-button { display: none; }
input::-webkit-clear-button { display: none; }

.percent {
  display: inline-block;
  background-color: gray;
  height: 6px;
}

.percent.green {
  background-color: green;
}
.percent.red {
  background-color: red;
}

label [disabled] + span {
  color: gray;
  text-decoration: line-through;
}